

#homepageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    pointer-events: none;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#pageBodyContainer {
    height: 85%;
    width: 100%;
}

#weatherAppContainer {
    position: relative;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    pointer-events: auto;
    border-radius: var(--apps-border-radius);
    color: white;
    justify-self: center;
}

#weatherAppImgSlider {
    position: relative;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    margin: 0;
    padding:0;
}

.weatherAppBackground {
    position: absolute;
    z-index: 5;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--apps-border-radius);
}

.weatherAppGlass {
    position: relative;
    z-index: 6;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    overflow: hidden;
    top: 0;
    margin: 0;
    padding: 0;
    /* From https://css.glass */
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 154, 0, 0.1) 10%,
        rgba(208, 222, 33, 0.1) 20%,
        rgba(79, 220, 74, 0.1) 30%,
        rgba(63, 218, 216, 0.1) 40%,
        rgba(47, 201, 226, 0.1) 50%,
        rgba(28, 127, 238, 0.1) 60%,
        rgba(95, 21, 242, 0.1) 70%,
        rgba(186, 12, 248, 0.1) 80%,
        rgba(251, 7, 217, 0.1) 90%,
        rgba(255, 0, 0, 0.1) 100%
    );
    box-shadow: 0 0.15rem 1rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: var(--apps-border-radius);
    opacity: 0.75;
}


.weatherImgContainer {
    position: absolute;
    z-index: 7;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    overflow: hidden;
    top: 0;
    border-radius: var(--apps-border-radius);
}

.weatherImgSlider {
    position: relative;
    z-index: 8;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    border-radius: var(--apps-border-radius);
}

.advanceImgSlider {
    position: absolute;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prev,
#next {
    position: absolute;
    z-index: 9;
    opacity: 0.2;
    cursor: pointer;
}

#prev:hover,
#next:hover {
    opacity: 0.8;
}

#next {
    right: 1rem;
    border-style: solid;
    border-color: #FFF;
    border-width: 0 7.5px 7.5px 0;
    padding: 0.5rem;
    transform: rotate(-45deg);
}

#prev {
    left: 1rem;
    border-style: solid;
    border-color: #FFF;
    border-width: 0 7.5px 7.5px 0;
    padding: 0.5rem;
    transform: rotate(135deg);
}

#todayWeatherContainer {
    position: absolute;
    top: 0;
    z-index: 12;
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

#todayWeather {
    margin-left: 3rem;
    margin-top: var(--today-weather-margin-top);
    font-size: var(--today-weather-font-size);
    opacity: 0.75;
}

.currentWeather,
.city,
.time,
.temp {
    padding: 0;
}

#todayDetails {
    visibility: var(--app-visibility);
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.2em;
}

.weatherIcon {
    height: var(--weather-icon-height);
    width: auto;
    opacity: 0.5;
}

.tempIcon,
.humidityIcon,
.cloudIcon,
.windIcon {
    height: 1.5rem;
    width: auto;
    opacity: 0.5;
}

#todayDetails > ul > li {
    list-style-type: none;
    font-size: 0.5em;
}

#titleAppContainer {
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    /* From https://css.glass */
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 154, 0, 0.1) 10%,
        rgba(208, 222, 33, 0.1) 20%,
        rgba(79, 220, 74, 0.1) 30%,
        rgba(63, 218, 216, 0.1) 40%,
        rgba(47, 201, 226, 0.1) 50%,
        rgba(28, 127, 238, 0.1) 60%,
        rgba(95, 21, 242, 0.1) 70%,
        rgba(186, 12, 248, 0.1) 80%,
        rgba(251, 7, 217, 0.1) 90%,
        rgba(255, 0, 0, 0.1) 100%
    );
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: var(--apps-border-radius);
}

.titleContainer {
    transform: translateX(1rem) translateY(0.5rem);
    height: var(--large-app-dimension);
    width: var(--larger-app-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    pointer-events: none;
}

.wrkTitle {
    color: white;
    font-size: var(--wrk-title-font-size);
    margin: 0;
    padding: 0;
}

#shopAppContainer {
    position: relative;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
}

.shopAppTitle {
    padding: 0;
    margin: 0 0.5rem 0 0 0;
    color: white;
    font-size: var(--shop-app-title-size);
}

.shopAppBackground {
    position: relative;
    background-image: url('/src/components/home-body/app-images/shoppingsymbol.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    opacity: 0.5;
    border-radius: var(--apps-border-radius);
}

.shopAppGlass {
    position: absolute;
    top: 0;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    /* From https://css.glass */
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 154, 0, 0.1) 10%,
        rgba(208, 222, 33, 0.1) 20%,
        rgba(79, 220, 74, 0.1) 30%,
        rgba(63, 218, 216, 0.1) 40%,
        rgba(47, 201, 226, 0.1) 50%,
        rgba(28, 127, 238, 0.1) 60%,
        rgba(95, 21, 242, 0.1) 70%,
        rgba(186, 12, 248, 0.1) 80%,
        rgba(251, 7, 217, 0.1) 90%,
        rgba(255, 0, 0, 0.1) 100%
    );
    box-shadow: 0 0.15rem 1rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: var(--apps-border-radius);
}

.shopAppBackgroundMid {
    position: absolute;
    top: 0;
    background-image: url('/src/components/home-body/app-images/shoppingsymbol.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    opacity: 0.25;
    border-radius: var(--apps-border-radius);
}

.shopAppBackgroundTop {
    position: absolute;
    top: 0;
    background-image: url('/src/components/home-body/app-images/shoppingsymbol2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    border-radius: var(--apps-border-radius);
    opacity: 0.75;
}

.shopAppBackgroundTopGlass {
    position: absolute;
    top: 0;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    /* From https://css.glass */
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 154, 0, 0.1) 10%,
        rgba(208, 222, 33, 0.1) 20%,
        rgba(79, 220, 74, 0.1) 30%,
        rgba(63, 218, 216, 0.1) 40%,
        rgba(47, 201, 226, 0.1) 50%,
        rgba(28, 127, 238, 0.1) 60%,
        rgba(95, 21, 242, 0.1) 70%,
        rgba(186, 12, 248, 0.1) 80%,
        rgba(251, 7, 217, 0.1) 90%,
        rgba(255, 0, 0, 0.1) 100%
    );
    box-shadow: 0 0.15rem 1rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: var(--apps-border-radius);
}

.shopAppBackgroundFinal {
    position: absolute;
    top: 0;
    background-image: url('/src/components/home-body/app-images/shoppingsymbol2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--small-app-dimension);
    width: var(--small-app-dimension);
    opacity: 0.5;
    border-radius: var(--apps-border-radius);
}


#analogClockContainer {
    position: relative;
    height: var(--large-app-dimension);
    width: var(--large-app-dimension);
    border-radius: var(--apps-border-radius);
}

.analogClockBackground {
    position: relative;
    background-image: url('/src/components/home-body/app-images/disksymbol.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--large-app-dimension);
    width: var(--large-app-dimension);
    opacity: 0.5;
    border-radius: var(--apps-border-radius);
}

.analogClockGlass {
    position: absolute;
    top: 0;
    height: var(--large-app-dimension);
    width: var(--large-app-dimension);
    /* From https://css.glass */
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 0%,
        rgba(255, 154, 0, 0.1) 10%,
        rgba(208, 222, 33, 0.1) 20%,
        rgba(79, 220, 74, 0.1) 30%,
        rgba(63, 218, 216, 0.1) 40%,
        rgba(47, 201, 226, 0.1) 50%,
        rgba(28, 127, 238, 0.1) 60%,
        rgba(95, 21, 242, 0.1) 70%,
        rgba(186, 12, 248, 0.1) 80%,
        rgba(251, 7, 217, 0.1) 90%,
        rgba(255, 0, 0, 0.1) 100%
    );
    box-shadow: 0 0.15rem 1rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: var(--apps-border-radius);
}

.analogClockBackgroundTop {
    position: absolute;
    top: 0;
    background-image: url('/src/components/home-body/app-images/disksymbol.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--large-app-dimension);
    width: var(--large-app-dimension);
    opacity: 0.25;
    border-radius: var(--apps-border-radius);
}

.analogContainer {
    position: absolute;
    top: 0;
    height: var(--large-app-dimension);
    width: var(--large-app-dimension);
    opacity: 0.25;
    transform: var(--analog-clock-position);
}

#mainAppsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: var(--main-apps-container-width);
    height: var(--main-apps-container-height);
    align-items: center;
    justify-items: center;
    gap: var(--home-page-apps-gap);
    margin-top: var(--home-page-apps-margin-top);
    margin-left: var(--home-page-apps-margin-left);
}