@font-face {
  font-family: '8bit';
  src: url('/src/data/fonts/VT323-Regular.ttf');
}

* {
  font-family: '8bit', 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

:root {
  /*background*/
  --background-grid-columns: repeat(6, 1fr);

  /*home page (may be used site-wide) */
  --large-app-dimension: 16rem;
  --larger-app-width: 24rem;
  --small-app-dimension: 8rem;
  --wrk-title-font-size: 3em;
  --today-weather-font-size: 0.75em;
  --today-weather-margin-top: 2rem;
  --weather-icon-height: 3rem;
  --app-visibility: visibile;
  --shop-app-title-size: 1.1em;
  --analog-clock-position: translateX(2.6rem);
  --home-page-apps-gap: 1.5rem;
  --home-page-apps-margin-top: 1.5rem;
  --home-page-apps-margin-left: 1.5rem;
  --main-apps-container-width: 50%;
  --main-apps-container-height: 50%;
  --apps-border-radius: 1.5rem;

  /*top nav bar*/
  --top-bar-links-dislpay: flex;

  /*shop page*/
  --shop-product-links-height: 35rem;
  --shop-product-list-height: calc(var(--large-app-dimension) + var(--home-page-apps-gap) + var(--shop-product-links-height));
  --shop-product-list-width: calc(100vw - var(--larger-app-width) - var(--home-page-apps-gap) - (2 * var(--home-page-apps-margin-left)));

  /*blog page colors*/
  --main-blog-color: rgba(109,0,25,1);
  --secondary-blog-color: rgba(255,168,76,1);
}

@media all and (max-width: 500px) {
  :root {
     /*background*/
    --background-grid-columns: repeat(2, 1fr);

    /*home page (may be used site-wide) */
    --large-app-dimension: 8rem;
    --larger-app-width: 12rem;
    --small-app-dimension: 4rem;
    --wrk-title-font-size: 1.5em;
    --today-weather-font-size: 0.3em;
    --today-weather-margin-top: 0.5rem;
    --weather-icon-height: 1.5rem;
    --app-visibility: hidden;
    --shop-app-title-size: 0.5em;
    --analog-clock-position: translateX(1.3rem);
    --home-page-apps-gap: 1rem;
    --home-page-apps-margin-top: 1rem;
    --home-page-apps-margin-left: 1.5rem;
    --main-apps-container-width: 90%;
    --main-apps-container-height: 25%;
    --apps-border-radius: 1rem;

    /*top nav bar*/
    --top-bar-links-dislpay: block;

    /*shop page*/
  }
}