#topBarContainer {
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    pointer-events: auto;
    justify-content: space-between;
    color: white;
    /* From https://css.glass */
    background: rgba(23, 13, 13, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.topBarLinks {
    display: var(--top-bar-links-dislpay);
    margin-top: 0.1rem;
    gap: 1.5rem;
    margin-right: 1rem;
    font-size: 1em;
}

#clock {
    align-self: center;
    font-size: 1em;
    margin-left: 1rem;
}

.visibilityQueries {
    visibility: var(--app-visibility)
}