#instaGalleryContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#instaUserDashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 36rem;
    height: calc(100vh - 1.5rem);
    background-color: black;
    z-index: 1;
    color: white;
    overflow: hidden;
    margin: 0;
    /*box-shadow: 0rem 0rem 100rem 100rem rgba(0, 0, 0, 0.85);*/
}

.instaUserHeader,
.instaProfileImg {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postsUserHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameHeader {
  margin: 0;
  padding: 0;
}

.emptyDiv {
  color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}

.instaUserHeader {
    height: 3rem;
}

.instaProfileImg {
    height: 6rem;
}

.instaProfileDesc {
    display: flex;
    flex-direction: column;
    height: 7.5rem;
    justify-content: center;
    width: 95%;
}

.instaHighlights {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 5.5rem;
    width: 95%;
}

.highlightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instaGridContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33.5rem;
    overflow-y: scroll;
}

.gridSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridSwitch > button {
    width: 12rem;
}

.instaGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.instaScroll {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;
  overflow: scroll;
}

.scrollPostContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.scrollImageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0.5rem;
  z-index: 10;
}

.scrollPage {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}

.individualPostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.individualPostProfile {
  display: flex;
  gap: 0.5rem;
}

.individualPostProfilePic {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border: solid red 0.1rem;
  border-radius: 5rem;
}

.scrollPostLikesAndComment {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.postLikes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.postComment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.postCommentEdit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCommentBody {
  width: 100%;
  height: 5rem;
  background: black;
  color: white;
}

.expandedPostContainer {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 0.1rem solid black;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0rem 0rem 100rem 100rem rgba(0, 0, 0, 0.85);
}

.expandedPost {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 0.1rem solid black;
}

.expandPage {
  height: 100%;
  width: 100%;
}

.expandedHeader {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.5rem;
  gap: 0.5rem;
}



.gridImageContainer {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid lightgray;
  overflow: hidden;
}

.gridPage {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gridImg {
    height: 12rem;
    width: 12rem;
    border: 0.1rem solid white;
    object-fit: cover;
}

.highlightContainer > h4 {
    margin: 0.5rem 0 0 0;
}

.instaHighlightPic,
.newHighlight {
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    background-color: white;
    border: 0.25rem solid red;
}

.descriptionHeader {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.instaDescription {
    text-align: left;
}

.descriptionButtons {
    display: flex;
}

.editProfile {
    width: 100%;
}

.headerButtons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instaProfilePic {
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: white;
    border: 0.25rem solid red;
}

.instaProfileStats {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profileStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileStats > h4 {
    margin: 0;
    padding: 0;
}

/*modals*/

#postModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    width: 36rem;
    height: 35rem;
    position: fixed;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    z-index: 100;
}

.postModalContainer {
    bottom: -150%;
    transition: bottom 0.3s ease-out;
}

.postModalContainer.showModal {
    bottom: 0;
}


.modalTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.05rem solid white;
}

.modalTitle {
    font-size: 1.35rem;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}

.modalHideDragBar {
    margin-top: 0.5em;
    width: 7.5%;
    background: none;
    color: white;
    border: none;
    padding: 0;
    outline: inherit;
    border-radius: 5rem;
    border: 0.25rem solid white;
}

.modalButtonContainer {
    width: 100%;
    background: none;
    color: white;
    border: none;
    padding: 0;
    outline: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.modalButtonContainer:hover {
    background: lightgray;
}

.modalButtonBottomBar {
    width: 90%;
    background: none;
    color: white;
    border: none;
    padding: 0;
    outline: inherit;
    cursor: pointer;
    border-bottom: 0.05rem solid white;
    align-self: flex-end;
}

.modalButton {
    width: 100%;
    background: none;
    color: white;
    border: none;
    padding: 0.5rem 0 0.5rem 10%;
    outline: inherit;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: left;
}

/* new post page */
.newPostFileContainer {
    position: relative;
    width: 35rem;
    height: 35rem;
    display: inline-block;
    overflow: hidden;
    border: 0.25rem solid lightgray;
    z-index: 10;
}

.newPostFile {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}

.coverImg {
    object-fit: cover;
}

.containImg {
    object-fit: contain;
}

.invisibleGrid {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 30;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  top: 0;
}

.invisibleGrid > div {
  border: 0.001rem rgba(255, 255, 255, 0.5) solid;
}

.expandButton {
    rotate: 45deg;
    border-radius: 5rem;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    color: black;
    background-color: rgba(211, 211, 211, 0.383);
    position: relative;
    bottom: 3.5rem;
    left: 0.75rem;
    cursor: pointer;
    z-index: 40;
}

.expandButton:hover {
    font-weight: 700;
}

.expandButton:active {
    font-weight: 300;
}
/* edit post page */
.filterContainer {
    display: flex;
    width: 100%;
    height: 25rem;
    overflow: scroll;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.filterTile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.filterTitle {
    margin: 0;
    padding: 0;
    color: white;
}

.filterSquareContainer {
  width: 12rem;
  height: 12rem;
  display: inline-block;
  overflow: hidden;
  border: 0.1rem solid lightgray;
}

.optionSquareContainer {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  overflow: hidden;
}

.filterSquare {
    height: 100%;
    width: 100%;
}

.optionSquare {
  border-radius: 20rem;
  background-color: wheat;
}

.editOptionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10em;
    width: 100%;
}

.optionSettingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  overflow: scroll;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.settingSelectButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.settingRangeSlider {
  width: 75%;
}

.vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 35;
  transform: scale(1.5);
  top: 0;
  border-radius: 20rem;
  overflow: hidden;
}

/* create post page */

.createContentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 14.5em;
    padding: 1em;
    overflow: hidden;
}

.contentImageContainer {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid lightgray;
  overflow: hidden;
}

.contentImage {
    height: 100%;
    width: 100%;
}

.contentBox {
    height: 100%;
    width: 70%;
    color: white;
    background-color: black;
}

.createPostLinksContainer {
    width: 100%;
    height: 50rem;
}

/* the following instagram filters are borrowed from picturepan2 on github*/
/*! Instagram.css v0.1.4 | MIT License | github.com/picturepan2/instagram.css */
[class*="filter"] {
    position: relative;
  }
  
  [class*="filter"]::before {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .filter-1977 {
    -webkit-filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
    filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
  }
  
  .filter-aden {
    -webkit-filter: sepia(.2) brightness(1.15) saturate(1.4);
    filter: sepia(.2) brightness(1.15) saturate(1.4);
  }
  
  .filter-aden::before {
    background: rgba(125, 105, 24, .1);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-amaro {
    -webkit-filter: sepia(.35) contrast(1.1) brightness(1.2) saturate(1.3);
    filter: sepia(.35) contrast(1.1) brightness(1.2) saturate(1.3);
  }
  
  .filter-amaro::before {
    background: rgba(125, 105, 24, .2);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-ashby {
    -webkit-filter: sepia(.5) contrast(1.2) saturate(1.8);
    filter: sepia(.5) contrast(1.2) saturate(1.8);
  }
  
  .filter-ashby::before {
    background: rgba(125, 105, 24, .35);
    content: "";
    mix-blend-mode: lighten;
  }
  
  .filter-brannan {
    -webkit-filter: sepia(.4) contrast(1.25) brightness(1.1) saturate(.9) hue-rotate(-2deg);
    filter: sepia(.4) contrast(1.25) brightness(1.1) saturate(.9) hue-rotate(-2deg);
  }
  
  .filter-brooklyn {
    -webkit-filter: sepia(.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
    filter: sepia(.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  }
  
  .filter-brooklyn::before {
    background: rgba(127, 187, 227, .2);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-charmes {
    -webkit-filter: sepia(.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
    filter: sepia(.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
  }
  
  .filter-charmes::before {
    background: rgba(125, 105, 24, .25);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-clarendon {
    -webkit-filter: sepia(.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
    filter: sepia(.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  }
  
  .filter-clarendon::before {
    background: rgba(127, 187, 227, .4);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-crema {
    -webkit-filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);
    filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);
  }
  
  .filter-crema::before {
    background: rgba(125, 105, 24, .2);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-dogpatch {
    -webkit-filter: sepia(.35) saturate(1.1) contrast(1.5);
    filter: sepia(.35) saturate(1.1) contrast(1.5);
  }
  
  .filter-earlybird {
    -webkit-filter: sepia(.25) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-5deg);
    filter: sepia(.25) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-5deg);
  }
  
  .filter-earlybird::before {
    background: radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
    background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
    background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-gingham {
    -webkit-filter: contrast(1.1) brightness(1.1);
    filter: contrast(1.1) brightness(1.1);
  }
  
  .filter-gingham::before {
    background: #e6e6e6;
    content: "";
    mix-blend-mode: soft-light;
  }
  
  .filter-ginza {
    -webkit-filter: sepia(.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
    filter: sepia(.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
  }
  
  .filter-ginza::before {
    background: rgba(125, 105, 24, .15);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-hefe {
    -webkit-filter: sepia(.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
    filter: sepia(.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
  }
  
  .filter-hefe::before {
    background: radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
    background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
    background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-helena {
    -webkit-filter: sepia(.5) contrast(1.05) brightness(1.05) saturate(1.35);
    filter: sepia(.5) contrast(1.05) brightness(1.05) saturate(1.35);
  }
  
  .filter-helena::before {
    background: rgba(158, 175, 30, .25);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-hudson {
    -webkit-filter: sepia(.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
    filter: sepia(.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
  }
  
  .filter-hudson::before {
    background: radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
    background: -o-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
    background: -moz-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-inkwell {
    -webkit-filter: brightness(1.25) contrast(.85) grayscale(1);
    filter: brightness(1.25) contrast(.85) grayscale(1);
  }
  
  .filter-juno {
    -webkit-filter: sepia(.35) contrast(1.15) brightness(1.15) saturate(1.8);
    filter: sepia(.35) contrast(1.15) brightness(1.15) saturate(1.8);
  }
  
  .filter-juno::before {
    background: rgba(127, 187, 227, .2);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-kelvin {
    -webkit-filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
    filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
  }
  
  .filter-kelvin::before {
    background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
    background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
    background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
    background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-lark {
    -webkit-filter: sepia(.25) contrast(1.2) brightness(1.3) saturate(1.25);
    filter: sepia(.25) contrast(1.2) brightness(1.3) saturate(1.25);
  }
  
  .filter-lofi {
    -webkit-filter: saturate(1.1) contrast(1.5);
    filter: saturate(1.1) contrast(1.5);
  }
  
  .filter-ludwig {
    -webkit-filter: sepia(.25) contrast(1.05) brightness(1.05) saturate(2);
    filter: sepia(.25) contrast(1.05) brightness(1.05) saturate(2);
  }
  
  .filter-ludwig::before {
    background: rgba(125, 105, 24, .1);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-maven {
    -webkit-filter: sepia(.35) contrast(1.05) brightness(1.05) saturate(1.75);
    filter: sepia(.35) contrast(1.05) brightness(1.05) saturate(1.75);
  }
  
  .filter-maven::before {
    background: rgba(158, 175, 30, .25);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-mayfair {
    -webkit-filter: contrast(1.1) brightness(1.15) saturate(1.1);
    filter: contrast(1.1) brightness(1.15) saturate(1.1);
  }
  
  .filter-mayfair::before {
    background: radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
    background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
    background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-moon {
    -webkit-filter: brightness(1.4) contrast(.95) saturate(0) sepia(.35);
    filter: brightness(1.4) contrast(.95) saturate(0) sepia(.35);
  }
  
  .filter-nashville {
    -webkit-filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
    filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
  }
  
  .filter-nashville::before {
    background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
    background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
    background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
    background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
    content: "";
    mix-blend-mode: screen;
  }
  
  .filter-perpetua {
    -webkit-filter: contrast(1.1) brightness(1.25) saturate(1.1);
    filter: contrast(1.1) brightness(1.25) saturate(1.1);
  }
  
  .filter-perpetua::before {
    background: linear-gradient(to bottom, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
    background: -o-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
    background: -moz-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
    background: -webkit-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 91, 154, .25)), to(rgba(230, 193, 61, .25)));
    content: "";
    mix-blend-mode: multiply;
  }
  
  .filter-poprocket {
    -webkit-filter: sepia(.15) brightness(1.2);
    filter: sepia(.15) brightness(1.2);
  }
  
  .filter-poprocket::before {
    background: radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
    background: -o-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
    background: -moz-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
    background: -webkit-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
    content: "";
    mix-blend-mode: screen;
  }
  
  .filter-reyes {
    -webkit-filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
    filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
  }
  
  .filter-rise {
    -webkit-filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);
    filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);
  }
  
  .filter-rise::before {
    background: radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
    background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
    background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
    content: "";
    mix-blend-mode: lighten;
  }
  
  .filter-sierra {
    -webkit-filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
    filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
  }
  
  .filter-sierra::before {
    background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
    background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
    background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
    background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
    content: "";
    mix-blend-mode: screen;
  }
  
  .filter-skyline {
    -webkit-filter: sepia(.15) contrast(1.25) brightness(1.25) saturate(1.2);
    filter: sepia(.15) contrast(1.25) brightness(1.25) saturate(1.2);
  }
  
  .filter-slumber {
    -webkit-filter: sepia(.35) contrast(1.25) saturate(1.25);
    filter: sepia(.35) contrast(1.25) saturate(1.25);
  }
  
  .filter-slumber::before {
    background: rgba(125, 105, 24, .2);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-stinson {
    -webkit-filter: sepia(.35) contrast(1.25) brightness(1.1) saturate(1.25);
    filter: sepia(.35) contrast(1.25) brightness(1.1) saturate(1.25);
  }
  
  .filter-stinson::before {
    background: rgba(125, 105, 24, .45);
    content: "";
    mix-blend-mode: lighten;
  }
  
  .filter-sutro {
    -webkit-filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);
    filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);
  }
  
  .filter-sutro::before {
    background: radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
    background: -o-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
    background: -moz-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
    background: -webkit-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-toaster {
    -webkit-filter: sepia(.25) contrast(1.5) brightness(.95) hue-rotate(-15deg);
    filter: sepia(.25) contrast(1.5) brightness(.95) hue-rotate(-15deg);
  }
  
  .filter-toaster::before {
    background: radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
    background: -o-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
    background: -moz-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
    background: -webkit-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
    content: "";
    mix-blend-mode: screen;
  }
  
  .filter-valencia {
    -webkit-filter: sepia(.25) contrast(1.1) brightness(1.1);
    filter: sepia(.25) contrast(1.1) brightness(1.1);
  }
  
  .filter-valencia::before {
    background: rgba(230, 193, 61, .1);
    content: "";
    mix-blend-mode: lighten;
  }
  
  .filter-vesper {
    -webkit-filter: sepia(.35) contrast(1.15) brightness(1.2) saturate(1.3);
    filter: sepia(.35) contrast(1.15) brightness(1.2) saturate(1.3);
  }
  
  .filter-vesper::before {
    background: rgba(125, 105, 24, .25);
    content: "";
    mix-blend-mode: overlay;
  }
  
  .filter-walden {
    -webkit-filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);
    filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);
  }
  
  .filter-walden::before {
    background: rgba(229, 240, 128, .5);
    content: "";
    mix-blend-mode: darken;
  }
  
  .filter-willow {
    -webkit-filter: brightness(1.2) contrast(.85) saturate(.05) sepia(.2);
    filter: brightness(1.2) contrast(.85) saturate(.05) sepia(.2);
  }
  
  .filter-xpro-ii {
    -webkit-filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
    filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
  }
  
  .filter-xpro-ii::before {
    background: radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
    background: -o-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
    background: -moz-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
    background: -webkit-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
    content: "";
    mix-blend-mode: multiply;
  }